{% extends "index.html" %}
{% block content %}
{% include "admin/adminsidebar.html" %}
<div class="content-size table">
    <div id="facaulty">
        <h3>Downloads: </h3><span class="button"><a href="{{ url_for('ad_dw_add') }}">New</a></span>
        <form action="" method="GET">
            <table>
                <tr>
                    <th>S.I</th>
                    <th>File name</th>
                    <th>File Path</th>
                    <th>Delete</th>
                </tr>
                {% set count = namespace(a=1) %}
                {% for dw in downloads %}
                <tr>
                    <td>{{ count.a }}</td>
                    {% set count.a = count.a + 1 %}
                    <td>{{ dw.file_name }}</td>
                    <td>{{ dw.file_path }}</td>
                    <td><span class="td_hover"><a href="{{ url_for('ad_dw_delete', dw_id=dw.id) }}">Delete</a></span>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
</div>
{% endblock %}