{% extends "index.html" %}
{% block content %}
{% include "admin/adminsidebar.html" %}
<div class="content-size">
    <div id="edit_fc">
        <fieldset>
            <legend>
                <h3>Update Facaulty</h3>
            </legend>
            <p>Enter following information.</p>
            <form action="{{ url_for('ad_fc_edit', fac_id=facaulties.id) }}" method="POST">
                <input type="text" value="{{ facaulties.fac_name }}" placeholder="Enter your name" name="name" required autocomplete="off"><br>
                <input type="text" value="{{ facaulties.email }}" placeholder="Enter your email" name="email" required autocomplete="off"><br>
                <input type="text" value="{{ facaulties.password }}" placeholder="Enter password" name="password" required autocomplete="off"><br>
                <input type="file" value="{{ facaulties.picture }}" placeholder="Enter picture" name="picture" autocomplete="off"><br>
                <input type="text" value="{{ facaulties.ac_rank }}" placeholder="Enter your position"
                    name="position" autocomplete="off"><br>
                <input type="text" value="{{ facaulties.edu }}" placeholder="Enter education" name="edu" autocomplete="off"><br>
                <select name="dept">
                    {% for dept in departments %}
                    {% if facaulties.dept_id == dept['id'] %}
                    <option value="{{ dept['id'] }}" selected>{{ dept['srt_name'] }}</option>
                    {% else %}
                    <option value="{{ dept['id'] }}">{{ dept['srt_name'] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <input type="submit" value="Go">
            </form>
        </fieldset>
    </div>
</div>
{% endblock %}