{% extends "index.html" %}
{% block content %}
{% include "admin/adminsidebar.html" %}
<div class="content-size">
    <div id="add_fc">
        <fieldset>
            <legend>
                <h3>Add New Facaulty</h3>
            </legend>
            <p>Enter following information.</p>
            <form action="{{ url_for('ad_fc_add') }}" method="POST">
                <input type="text" placeholder="Enter facaulty name" name="name" required autocomplete="off"><br>
                <input type="text" placeholder="Enter facaulty email" name="email" required autocomplete="off"><br>
                <input type="text" placeholder="Enter password" name="password" required autocomplete="off"><br>
                <input type="file" placeholder="Enter picture" name="picture" autocomplete="off"><br>
                <input type="text" placeholder="Enter position" name="position" autocomplete="off"><br>
                <input type="text" placeholder="Enter education" name="edu" autocomplete="off"><br>
                <select name="dept">
                    {% for dept in departments %}
                    <option value="{{ dept['id'] }}">{{ dept['srt_name'] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Go">
            </form>
        </fieldset>
    </div>
</div>
{% endblock %}