{% extends "index.html" %}
{% block content %}
<div class="content-size">
    <p style="margin: 10px auto;text-align: center;"><strong>BENCHMARKING WITH THE BEST</strong></p>
    <p style="text-indent: 50px;">Dr. B.C. Roy Engineering College, Durgapur, popularly known as BCREC, was set up on
        21st August, 2000, under
        the over all management of Dr. B.C. Roy Engineering College Society. Born of a vision of a group of Durgapur
        based philanthropic entrepreneurs, the institute is dedicated to the memory of Dr. Bidhan Chandra Roy, the
        architect of modern West Bengal and BCREC management is deeply committed to gradually build the college as
        one of the best seats of Engineering and Management Education in Eastern India with domestic and global
        requirements in view.</p>
    <br>
    <p style="text-indent: 50px;"> Dr. B.C. Roy Engineering College, Durgapur was affiliated to the University of
        Burdwan for the students
        admitted in 2000-01 session. But from 2001-2002 session onwards the college was affiliated to the Maulana
        Abul Kalam Azad University of Technology (MAKAUT). The college is approved by both All India Council for
        Technical Education (AICTE), Directorate of Technical Education (DTE) and Department of Higher Education,
        Govt. of West Bengal. All the courses offered conform to the latest requirements and syllabus is structured
        by MAKAUT. The team at the helm of affairs believes in the best and the latest towards grooming the students
        and transforming them as dynamic leaders of tomorrow. Generating top quality Engineering Managers and
        Professionals year after year is, indeed, a true service to the nation and respectful salutation to the
        great visionary, Dr. Bidhan Chandra Roy. The management is on toes to take all pains to make BCREC, one of
        the premier institutes in Engineering and Management Sciences and in regard to standards, always benchmarks
        with the best in education.</p>
</div>
{% endblock %}