{% extends "index.html" %}
{% block content %}
{% include "adminsidebar.html" %}
<div class="content-size table">    
    <div id="facaulty">
        <h3>Facaulties: </h3><span class="button"><a href="{{ url_for('ad_fc_add') }}">New</a></span>
        
            <table>
                <tr>
                    <th>S.I</th>
                    <th>Facaulty name</th>
                    <th>Email</th>
                    <th>Position</th>
                    <th>Education</th>
                    <th>Departments</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                {% set count = namespace(a=1) %}
                {% for fac in facaulties %}
                <tr>
                    <td>{{ count.a }}</td>
                    {% set count.a = count.a + 1 %}
                    <td>{{ fac.fac_name }}</td>
                    <td>{{ fac.email }}</td>
                    <td>{{ fac.ac_rank }}</td>
                    <td>{{ fac.edu }}</td>
                    <td>{{ fac.departments.srt_name }}</td>
                    <td><span class="td_hover"><a href="{{ url_for('ad_fc_edit', fac_id=fac.id) }}">Edit</a></span></td>
                    <td><span class="td_hover"><a href="{{ url_for('ad_fc_delete', fac_id=fac.id) }}">Delete</a></span></td>
                </tr>
                {% endfor %}
            </table>
       
    </div>
</div>
{% endblock %}