<footer class="footer">
   
        <div class="footer-head">
            <img src="{{ url_for('static', filename='logo3.jpg') }}">
        </div>
        <div class="footer-adr">
            <p>Jemua Road, Fuljhore, Durgapur, West Bengal, 713206.<u><a href="{{ url_for('gmap') }}">&#x1f517;</a></u></p>
        </div>
        <div id="footer-cnt" class="footer-cnt">
            <h3>Contact Us</h3>

            <p><span class="hex-code">&#128222;</span> +91-343-2504106,2501353</p>
            <p><span class="hex-code">&#x1f4f1;</span> +91-6297128554</p>
            <p><span class="hex-code">&#x1f4e0;</span> +91-343-2504059,2503424</p>
            <p><span class="hex-code">&#x1f4e7;</span> info@bcrec.ac.in</p>

        </div>
   
</footer>